@charset "utf-8";
/* CSS Document */
#firstPage h1 {
   /* font-size: 2.75rem; */
   padding-bottom: 10px;
}
.resume-pic {
   max-height: 250px;
}
.profile-description-box {
   padding-top: 10px;
   line-height: 2.3rem;
   color: #4d4d4f;
}
.profile-description {
   font-style: italic;
}
.contact-info {
   margin-top: 1.2rem;
   width: inherit;
}
.contact-info a {
   color: #4d4d4f;
}
.contact-info a:hover {
   color: #2997ff;
}
.social-media-container {
   margin: 1rem auto 0 auto;
   width: 50%;
}
.social-media-logo {
   margin: auto 15px;
   width: auto;
   height: auto;
   display: inline-block;
}
.social-media-logo:hover {
   transform: rotate(360deg) scale(1.25);
   transition-duration: 1.5s;
}

/**************************Speech Bubble*****************************/
.speechBubble {
   margin: 0px auto;
   border: 4px solid #000000;
   padding: 20px;
   text-align: center;
   position: relative;
   border-radius: 0px 15px 15px;
}
.speechBubblePointer:before {
   content: "";
   width: 0px;
   height: 0px;
   position: absolute;
   border-left: 10px solid transparent;
   border-right: 10px solid #000000;
   border-top: 10px solid #000000;
   border-bottom: 10px solid transparent;
   left: -20px;
   top: 6px;
}
.speechBubblePointer:after {
   content: "";
   width: 0px;
   height: 0px;
   position: absolute;
   border-left: 7px solid transparent;
   border-right: 7px solid #fbfbfd;
   border-top: 7px solid #fbfbfd;
   border-bottom: 7px solid transparent;
   left: -11px;
   top: 10px;
}

/* small to large */
@media (max-width: 992px) {
   .resume-pic {
      max-height: 200px;
   }
   .profile-description,
   .contact-info a {
      font-size: 15px;
   }
   .speechBubble {
      padding: 10px;
      border-radius: 15px;
   }
   .speechBubblePointer:before {
      border: transparent;
   }
   .speechBubblePointer:after {
      border: transparent;
   }
   /*to make pic & profile description on separate rows*/
   .col-lg-4 {
      width: 100%;
   }
   .col-lg-8 {
      width: 100%;
   }
}

/* small and below */
@media (max-width: 576px) {
   .resume-pic {
      max-height: 175px;
   }
   .profile-description,
   .contact-info a {
      font-size: 14px;
   }
   .speechBubble {
      padding: 15px;
   }
}
