@charset "utf-8";
/* CSS Document */
html {
   background-color: #fbfbfd;
}
/* Start of Global */
.center {
   margin: auto;
   text-align: center;
}
a {
   text-decoration: none; /*removes underline in <a> tag*/
}
h1 {
   color: #4d4d4f;
}

.page {
   min-height: 100vh;
   height: fit-content;
   width: 100vw;
}
.page-border {
   width: 65%;
   border-bottom: 3px solid #000;
}
#firstPage,
#lastPage {
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center top;
   background-size: cover;
}
#firstPage {
   padding-top: 15vh;
}
#secondPage {
   background-repeat: no-repeat;
   background-position: center top;
   background-size: cover;
}
.main-body {
   padding: 100px 0 0 0;
   width: 65%;
}
body {
   scroll-behavior: smooth;
   overflow-x: hidden;
}
.center {
   text-align: center;
}
/* End of Global */

/* Start of Header */
header {
   height: 50px;
   width: 100vw;
   background-color: #333333;
}
.navbar {
   height: inherit;
   margin: 0 5% 0 0;
   float: right;
}
.navbar h5 {
   margin: 0;
   color: #aeaeae;
}
.zj-logo {
   position: absolute;
   height: 150px;
   top: -25%;
   left: 3%;
}
#download-icon {
   height: 30px;
   width: 30px;
}
/* End of Header */

footer {
   bottom: 0;
   background-color: #333333;
}

/* small to large */
@media (max-width: 992px) {
   .main-body {
      padding: 50px 0 0 0;
   }
   #firstPage {
      padding-top: 3vh;
   }
}

/* small and below */
@media (max-width: 576px) {
   .main-body {
      width: 75%;
   }
}
