@charset "utf-8";
/* CSS Document */
.project-page {
   margin: auto;
   padding: 50px 0 0 0;
   width: 75%;

   /* position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); */
}

.project-card {
   width: 47%;
   margin: 10px;
   border: 5px solid #000;
   border-radius: 5px;
}
.project-card-body {
   margin: 10px;
}
.project-image-container {
   height: 275px;
   margin: 15px 0;
}
.vertical-align-helper {
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
.project-image {
   width: 90%;
   border-radius: 15px;
}
.project-creators {
   text-align: start;
   margin-left: 15px;
}
.project-creators p {
   margin: 0;
}

/* small to large */
@media (max-width: 992px) {
   .project-page {
      width: 65%;
   }
   .project-card {
      width: 100%;
      font-size: 15px;
   }
   .project-image-container {
      height: 250px;
      margin: 10px 0;
   }
   .project-image {
      max-width: 70%;
   }
}

/* small and below */
@media (max-width: 576px) {
   .project-page {
      width: 65%;
   }
   .project-card {
      width: 100%;
      font-size: 12px;
   }
   .project-image-container {
      height: 150px;
   }
   .project-image {
      max-width: 70%;
   }
}
