@charset "utf-8";
/* CSS Document */
.project-page {
   margin: auto;
   padding: 50px 0 0 0;
   width: 75%;

   /* position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); */
}

.project-card {
   width: 47%;
   margin: 10px;
   border: 5px solid #000;
   border-radius: 5px;
}
.project-card-body {
   margin: 10px;
}
.project-image-container {
   height: 275px;
   margin: 15px 0;
}
.vertical-align-helper {
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
.project-image {
   width: 90%;
   border-radius: 15px;
}
.project-creators {
   text-align: start;
   margin-left: 15px;
}
.project-creators p {
   margin: 0;
}

@media only screen and (max-width: 992px) {
   .project-page {
      width: 65%;
   }
   .project-card {
      width: 100%;
      font-size: 15px;
   }
   .project-image-container {
      height: auto;
      margin: 10px 0;
   }
   .project-image {
      max-width: 100%;
   }
   .project-title h2 {
      font-size: 20px;
   }
   .project-creators h4 {
      font-size: 16px;
   }
}

@media only screen and (max-width: 576px) {
   .project-page {
      width: 65%;
   }
   .project-card {
      font-size: 12px;
   }
   .project-title h2 {
      font-size: 18px;
   }
   .project-creators h4 {
      font-size: 14px;
   }
   .project-creators ul {
      margin-left: 10%;
      margin-right: auto;
   }
}
