@charset "utf-8";
/* CSS Document */
.project-page {
   margin: auto;
   padding: 75px 0 0 0;
   width: 70%;
}
.project-card {
   width: 45%;
   margin: 10px;
   border: 5px solid #000;
   border-radius: 5px;
}
.project-card-body {
   margin: 10px;
}
.project-image-container {
   height: 275px;
}
.vertical-align-helper {
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
.project-image {
   width: 90%;
   border-radius: 15px;
}
.project-creators {
   text-align: start;
}
.project-creators p {
   margin: 0;
}

/* small to large */
@media (max-width: 992px) {
}

/* small and below */
@media (max-width: 576px) {
}
