@charset "utf-8";
/* CSS Document */
#secondPage {
   /* background-color: #000000; */
}
.progress-bar-dimension {
   height: 6px;
   width: 250px;
}
.progress-bar-container {
   position: relative;
   height: 6px;
}
.skills-container,
.language-container {
   width: fit-content;
   background-color: gray;
   border-radius: 5px;
   padding: 10px;
   margin-left: 10%;
}
.language-container {
   margin-top: 25px;
}

figure {
   height: 5px;
   display: block;
   /* background-color: aquamarine; */
}
.circle {
   position: absolute;
   display: inline;
   height: 12px;
   width: 12px;
   border-radius: 12px;
   background-color: white;
   right: 0;
   top: -3px; /* half of progress-bar-dimension height */
}
.tryout {
   height: 6px;
   width: max-content;
}

/*job exp*/
.job-cards-container {
   margin-top: -10px;
}
.job-cards {
   float: right;
   margin: 10px;
   height: 50px;
   width: 80%;
   background-color: #333333;
   border-radius: 5px;
}
.card-description-role {
   float: left;
}
.card-description-job {
   float: left;
   text-align: left;
   width: 100%;
}
.card-description-period {
   float: right;
   text-align: right;
   width: 100%;
}

.modal-body {
   background-color: #333333;
}
