@charset "utf-8";
/* CSS Document */
.progress-bar-dimension {
   height: 6px;
   width: 250px;
}
.progress-bar-container {
   position: relative;
   height: 6px;
}
.circle {
   position: absolute;
   display: inline;
   height: 12px;
   width: 12px;
   border-radius: 12px;
   background-color: white;
   right: 0;
   top: -3px; /* half of progress-bar-dimension height */
}

.left {
   display: block;
   float: left;
   width: 60%;
}
.right {
   display: block;
   float: right;
   width: 40%;
}
.skills-container,
.language-container {
   height: fit-content;
   width: fit-content;
   background-color: gray;
   border-radius: 5px;
   padding: 10px;
   text-align: start;
}
.language-container {
   margin-top: 25px;
}

/*job exp*/
.job-cards-container {
   margin-top: -10px;
   width: 95%;
}
.job-cards {
   float: right;
   margin: 10px;
   height: fit-content;
   width: 90%;
   background-color: #333333;
   border-radius: 5px;
}
.card-description-role {
   float: left;
}
.card-description-job {
   float: left;
   text-align: left;
   width: 100%;
}
.card-description-period {
   float: right;
   text-align: right;
   width: 100%;
}

.modal-body {
   background-color: #333333;
}

@media (max-width: 1100px) {
   .left {
      float: left;
      width: 50%;
   }
   .right {
      float: right;
      width: 50%;
   }
}

/* small to large */
@media (max-width: 992px) {
   .left {
      display: block;
      float: none;
      width: 100%;
   }
   .right {
      display: block;
      float: left;
      width: 100%;
   }

   .skills-container,
   .language-container {
      width: fit-content;
      margin-top: 25px;
      /* float: none; */
   }
}

/* small and below */
@media (max-width: 576px) {
}
