@charset "utf-8";
/* CSS Document */
#secondPage {
   /* background-color: #000000; */
}
.progress-bar-dimension {
   height: 6px;
   width: 250px;
}
.progress-bar-container {
   position: relative;
   height: 6px;
}

.skills-container,
.language-container {
   width: 40%;
   max-width: fit-content;
   background-color: gray;
   border-radius: 5px;
   padding: 10px;
   float: left;
   margin-left: 100px;
}
.language-container {
   margin-top: 25px;
}
.circle {
   position: absolute;
   display: inline;
   height: 12px;
   width: 12px;
   border-radius: 12px;
   background-color: white;
   right: 0;
   top: -3px; /* half of progress-bar-dimension height */
}
.tryout {
   height: 6px;
   width: max-content;
}

/*job exp*/
.job-cards-container {
   margin-top: -10px;
   margin-left: 25px;
   width: 50%;
   float: left;
}
.job-cards {
   float: right;
   margin: 10px;
   height: 50px;
   width: 90%;
   background-color: #333333;
   border-radius: 5px;
}
.card-description-role {
   float: left;
}
.card-description-job {
   float: left;
   text-align: left;
   width: 100%;
}
.card-description-period {
   float: right;
   text-align: right;
   width: 100%;
}

.modal-body {
   background-color: #333333;
}

/* small to large */
@media (max-width: 992px) {
   .skills-container,
   .language-container {
      width: fit-content;
      margin-top: 25px;
      margin-left: 175px;
   }
   .job-cards-container {
      margin-left: 50px;
      width: 80%;
   }
}

/* small and below */
@media (max-width: 576px) {
}
