@charset "utf-8";
/* CSS Document */
.carousel-size {
   height: 90vh;
   width: 100%;
   margin: auto;
}
.carousel-description {
   text-align: left;
   height: 45vh;
   padding-top: 25px;
   overflow-y: auto;
   overflow-x: hidden;
   color: #aeaeae;
}

/* Job Experience */
.company-logo {
   height: 150px;
   margin: 50px auto 25px auto;
}
.company-description {
   color: #aeaeae;
}
.remove-padding {
   padding: 0;
}
.modal-btn-close {
   z-index: 1060;
   margin: 2% 2% 0 0;
   padding: 10px;
}

@media only screen and (max-width: 992px) {
   .company-logo {
      height: 125px;
   }
   .carousel-description {
      height: 35vh;
      padding-top: 15px;
   }
}

@media only screen and (max-width: 576px) {
   .carousel-indicators [data-bs-target] {
      width: 8%;
   }
   .carousel-description,
   .company-description {
      font-size: 14px;
   }
   .company-description h5 {
      font-size: 16px;
   }
}
